.messageText {
    margin-top: 5px;
}

.message {
    align-items: center;
    margin-bottom: 10px;
    background-color: #0059b3;
    max-width: 40%;
    margin-left: auto;
}

.imageAndText {
    display: flex;
}

.imageAndText img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}

.text:after {
    content: "";
    display: table;
    clear: both;
    max-width: 40%;
}

.name {
    font-weight: bold;
    margin-bottom: 5px;
}

.messageText {
    margin-top: 5px;
}

.time {
    color: black;
    font-size: 12px;
}
