.message {
    width: 527px;
    height: 60px;
    left: 635px;
    top: 192px;

    background: #0066CC;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);
}

.imageAndText {

}

.imageAndText img {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 1162px;
    top: 204px;
}

.text {

}

.text:after {

}

.name {
    position: absolute;
    width: 40px;
    height: 22px;
    left: 1097px;
    top: 199px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: blueviolet;
}

.messageText {
    position: absolute;
    width: 489px;
    height: 20px;
    left: 648px;
    top: 224px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */


    color: blueviolet;
}

.time {
    position: absolute;
    width: 26px;
    height: 12px;
    left: 1173px;
    top: 257px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;

    color: #000000;

}

/*.friendMessage {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: flex-start;*/
/*    margin: 24px 0 23px;*/
/*}*/

/*.friendImageAndText {*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*    align-items: center;*/
/*    max-width: 70%;*/
/*}*/

/*.friendImageAndText img {*/
/*    width: 48px;*/
/*    height: 48px;*/
/*    border-radius:70%;*/
/*}*/

/*.friendText {*/
/*    background-color: #0059b3;*/
/*    padding: 8px;*/
/*    border-radius: 8px;*/
/*    font-weight: 400;*/
/*    font-size: 16px;*/
/*    color: #ffffff;*/
/*    margin-right: 8px;*/
/*    max-width: 60%;*/
/*}*/

/*.friendText:after {*/
/*    content: "";*/
/*    display: table;*/
/*    clear: both;*/
/*}*/

/*.friendName {*/
/*    font-weight: 600;*/
/*    font-size: 12px;*/
/*    color: #777777;*/
/*    margin-right: 8px;*/
/*}*/

/*.friendMessageText {*/
/*    margin-top: 4px;*/
/*}*/

/*.friendTime {*/
/*    font-weight: 600;*/
/*    font-size: 10px;*/
/*    color: #777777;*/
/*    margin-right: 8px;*/
/*}*/