.sidebar {
    display: none;
}

.sidebar.open {
    display: block;
}

.background {
}

.nav {
}

.nav a {
}

.nav a:hover {
}

.nav a.active {
    color:red;
    font-size: 20px;
}
.close {

}

.close img {

}
