.friendMessage {
    align-items: center;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    max-width: 40%;
}

.friendImageAndText {
    display: flex;
}

.friendImageAndText img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.friendText {
    display: flex;
    flex-direction: column;
}

.friendText:after {
    content: "";
    display: table;
    clear: both;
}

.friendName {
    font-weight: bold;
    margin-bottom: 5px;
}

.friendMessageText {
    margin-top: 5px;
}

.friendTime {
    font-size: 12px;
    color: black;
    margin-left: auto;
}