.sendForm {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-top: 20px;
}

.textarea {
    resize: none;
    height: 60px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid gray;
}

.button {
    background-color: #0066CC;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: #0052a3;
}

.button:active {
    background-color: #003d80;
}
/*.sendForm {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    margin-top: 20px;*/
/*}*/

/*.textarea {*/
/*    resize: none;*/
/*    height: 60px;*/
/*    padding: 10px;*/
/*    margin-bottom: 10px;*/
/*    border-radius: 5px;*/
/*    border: 1px solid gray;*/
/*}*/

/*.button {*/
/*    background-color: #0066CC;*/
/*    color: white;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    padding: 10px;*/
/*    cursor: pointer;*/
/*}*/

/*.button:hover {*/
/*    background-color: #0052a3;*/
/*}*/

/*.button:active {*/
/*    background-color: #003d80;*/
/*}*/

